<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Message Board</title>
</head>
<body>
    <h1>Message Board</h1>
    <a href="/new"><button>New Message</button></a>
    <div class="messages-container">
        <% for (let i = 0; i < messages.length; i++) { %>
            <div class="message-card">
                <div>Username: <%= locals.messages[i].user %></div>
                <div>Message: <%= locals.messages[i].text %></div>
                <div>Date: <%= locals.messages[i].added %></div>
            </div>
        <% } %>        
    </div>
</body>
</html>