<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <form action="/" method="post">
        <label>Name
            <input type="text" name="name" value="<%= locals.name %>">
        </label>
        <label>Message
            <input type="text" name="message" value="<%= locals.message %>">
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>